<h1>Editing Artist #<%= @artist.id %></h1>

<form action="/artists/<%= @artist.id %>/update">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" value="<%= @artist.name  %>" type="text" />
  </div>
  <div>
    <label for="image_url">image_url</label><br />
    <input id="image_url" name="image_url" value="<%= @artist.image_url  %>" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


