<h1>New Artist</h1>

<form action="/create_artist">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="image_url">image_url</label><br />
    <input id="image_url" name="image_url" type="text" />
  </div>
  <div>
    <br>
    <input type="submit">
  </div>
</form>

